<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>Finanblue Teste Frontend</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openEmpresaAddEdit()">
    Adicionar Empresa
  </button>
  <button mat-raised-button (click)="openProdutoAddEdit()">
    Adicionar Produto
  </button>
  <button mat-raised-button (click)="openCompraAddEdit()">
    Adicionar Compra
  </button>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>

<div class="main-body">
  <app-empresa-list></app-empresa-list>
  <p></p>
  <p></p>
  <p></p>
  <app-produto-list></app-produto-list>
  <p></p>
  <p></p>
  <p></p>
  <app-compra-list></app-compra-list>
</div>
