<div mat-dialog-title>
    <h1>{{data ? 'Atualizar' : 'Nova'}} Compra</h1>
</div>
<form [formGroup]="form" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <!-- <mat-form-field appearance="fill"></mat-form-field> -->
            <mat-form-field appearance="outline">
                <mat-label>Data/Hora</mat-label>
                <input matInput type="text" formControlName="dataHora">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Valor Total</mat-label>
                <input matInput type="number" placeholder="000" formControlName="valorTotal">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button type="submit" color="primary">Ok</button>
    </div>
</form>